.vm {
  vertical-align: middle;
  display: inline-table;
}
.mto {
  margin-left: auto;
  margin-right: auto;
}
.co {
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.ipt {vertical-align: middle;
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}
.es {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.selsty {
  appearance: none;
}
.selsty::-ms-expand {
  display: none;
}
.fexm {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.fest {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: flex-start;
  align-items: center ;
  align-content: flex-start;
}
.scl {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.boxsh {
  box-shadow: 0px 6px 6px rgba(3, 143, 16, 0.49);
  background: #14cc4c;
  color: #fff;
  font-size: 1rem ;
}
.portrait {
  width: 23.8rem;
  margin-left: auto;
  margin-right: auto;
  height: 12.66666667rem;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.portrait .box {
  width: 7rem;
  height: 2.56666667rem;
  border-radius: 2.56666667rem;
  overflow: hidden;
  text-align: center;
}
.portrait .box img {
  width: 2.56666667rem;
  height: 2.56666667rem;
}
.portrait .boxper {
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 5.9rem;
  overflow: hidden;
  position: relative;
  background: url("../imgs/012.png") no-repeat center center;
  background-size: 100%;
}
.portrait .boxper img {
  width: 5.9rem;
  height: 5.9rem;
}
.portrait .boxper input {
  border: none;
  background: none;
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 5.9rem;
  opacity: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
}
dl {
  width: 23.8rem;
  margin-left: auto;
  margin-right: auto;
  height: 3.1rem;
  line-height: 3.1rem;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
dl textarea {
  width: 23.8rem;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
  margin-top: 2rem;
  border: 1px #ccc solid;
  border-radius: 0.66666667rem;
  resize: none;
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
dl dd {
  height: 3.1rem;
  vertical-align: middle;
  display: inline-table;
  line-height: 3.1rem;
}
dl dd img {
  width: auto;
  height: 1.13333333rem;
  vertical-align: middle;
  display: inline-table;
  padding-left: 0.83333333rem;
}
dl dd:nth-of-type(1) {
  width: 4.33333333rem;
  font-size: 1rem ;
  line-height: 2.33333333rem;
}
dl dd:nth-of-type(2) {
  width: 19.36666667rem;
  font-size: 1rem ;
  text-align: right;
  color: #14cc4c;
  line-height: 2.33333333rem;
}
dl dd:nth-of-type(2) .inputtex {
  width: 19.36666667rem;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  background: none;
  height: 2.33333333rem;
  line-height: 2.33333333rem;
  margin-top: 0rem;
  border-radius: 2.33333333rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  border: 1px #ccc solid;
  text-align: left;
}
dl dd:nth-of-type(2) span {
  vertical-align: middle;
  display: inline-table;
  padding: 0;
  margin: 0;
  text-align: right;
}
dl dd:nth-of-type(2) input {
  width: 150px;
  text-align: right;
  border: none;
  color: #14cc4c;
  vertical-align: middle;
  display: inline-table;
  margin-top: 1rem;
  font-size: 1rem ;
  background: url("../imgs/arrow_geuee.png") right center no-repeat;
  padding-right: 1.33333333rem;
  background-size: auto 90%;
}
.signin {
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  height: 2.4rem;
  border-radius: 2.26666667rem;
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.66666667rem;
  margin-bottom: 2rem;
  background: #a2a2a2;
  color: #fff;
  box-shadow: 0px 6px 6px rgba(97, 99, 97, 0.49);
  display: block;
  border: none;
}
.signinup {
  box-shadow: 0px 6px 6px rgba(3, 143, 16, 0.49);
  color: #fff;
  background: #00cc33;
}
