.vm {
  vertical-align: middle;
  display: inline-table;
}
.mto {
  margin-left: auto;
  margin-right: auto;
}
.co {
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.ipt {
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}
.es {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.selsty {
  appearance: none;
}
.selsty::-ms-expand {
  display: none;
}
.fexm {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.fest {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: flex-start;
  align-items: center ;
  align-content: flex-start;
}
.scl {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.boxsh {
  box-shadow: 0px 6px 6px rgba(3, 143, 16, 0.49);
  background: #14cc4c;
  color: #fff;
  font-size: 1rem ;
}
dl {
  width: 23.8rem;
  height: 3.33333333rem;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  border-bottom: #dddddd solid 1px;
  margin-left: auto;
  margin-right: auto;
}
dl dd {
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}
dl dd img {
  width: auto;
  height: 1.26666667rem;
  vertical-align: middle;
  padding-left: 0.5rem;
}
dl dd:nth-of-type(1) {
  width: 40%;
  font-size: 0.85rem;
}
dl dd:nth-of-type(2) {
  width: 60%;
  font-size: 0.85rem;
  text-align: right;
}
dl dd:nth-of-type(2) span {
  font-size: 0.85rem;
  text-align: right;
}
dl dd select {
  color: #999999;
}
.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup .editor_box {
  height: 100%;
  box-sizing: border-box;
  padding-top: 20%;
  margin: auto;
  max-width: 680px;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.2);
}
.popup .editor_box .editor {
  width: 20rem;
  height: 11.33333333rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.66666667rem;
  margin-top: 6.66666667rem;
  background: #fff;
  position: relative;
  line-height: 2.66666667rem;
  text-align: center;
}
.popup .editor_box .editor input {
  width: 90%;
  height: 2.26666667rem;
  text-align: center;
  border-radius: 2.26666667rem;
  border: #b1b1b1 solid 1px;
  outline: none;
}
.popup .editor_box .editor .determination {
  width: 8rem;
  height: 2.26666667rem;
  line-height: 2.26666667rem;
  left: 1.33333333rem;
  color: #fff;
  background: #14cc4c;
  text-align: center;
  border-radius: 2.26666667rem;
  position: absolute;
  top: 60%;
  -moz-box-shadow: 0px 1px 13px #1c850c;
  -webkit-box-shadow: 0px 1px 13px #1c850c;
  box-shadow: 0px 1px 13px #1c850c;
}
.popup .editor_box .editor .cancelled {
  width: 8rem;
  height: 2.26666667rem;
  line-height: 2.26666667rem;
  right: 1.33333333rem;
  border-radius: 2.26666667rem;
  background: #dddddd;
  text-align: center;
  position: absolute;
  top: 60%;
}
