.vm {
  vertical-align: middle;
  display: inline-table;
}
.mto {
  margin-left: auto;
  margin-right: auto;
}
.co {
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.ipt {
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}
.es {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.selsty {
  appearance: none;
}
.selsty::-ms-expand {
  display: none;
}
.fexm {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.fest {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: flex-start;
  align-items: center ;
  align-content: flex-start;
}
.scl {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.boxsh {
  box-shadow: 0px 6px 6px rgba(3, 143, 16, 0.49);
  background: #14cc4c;
  color: #fff;
  font-size: 1rem ;
}
.caseimg_box {
  width: 95%;
  margin: auto;
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
}
.caseimg_box .tingOrdel {
  display: flex;
}
.caseimg_box .tingOrdel span {
  flex: 1;
  display: block;
}
.caseimg_box .tingOrdel span:nth-of-type(1) {
  text-align: left;
}
.caseimg_box .tingOrdel span:nth-of-type(2) {
  text-align: right;
}
.caseimg_box ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}
.caseimg_box ul li {
  width: 33.333333%;
  height: 7rem;
  padding: 0.1rem;
  box-sizing: border-box;
  align-self: center;
}
.caseimg_box ul li img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.caseimg_box ul .add {
  border: #9d9d9d 1px solid;
  text-align: center;
  line-height: 6rem;
}
.caseimg_box ul .add img {
  width: 30%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}
.caseimg_box .addmore {
  width: 7rem;
  height: 7rem;
  border: #9d9d9d 1px solid;
  text-align: center;
  line-height: 6rem;
}
.caseimg_box .addmore img {
  width: 30%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
