.vm {
  vertical-align: middle;
  display: inline-table;
}
.mto {
  margin-left: auto;
  margin-right: auto;
}
.co {
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.ipt {
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}
.es {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.selsty {
  appearance: none;
}
.selsty::-ms-expand {
  display: none;
}
.fexm {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.fest {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: flex-start;
  align-items: center ;
  align-content: flex-start;
}
.scl {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.boxsh {
  box-shadow: 0px 6px 6px rgba(3, 143, 16, 0.49);
  background: #14cc4c;
  color: #fff;
  font-size: 1rem ;
}
#app {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 0rem;
  -webkit-overflow-scrolling: touch;
}
.pr {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  padding-bottom: 4.66666667rem;
  background: #fff;
  z-index: 1;
  overflow-y: auto;
  transition: left 0.5s;
  -moz-transition: left 0.5s;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
}
.transition {
  left: 10rem;
  transition: left 0.5s;
  -moz-transition: left 0.5s;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
}
aside {
  width: 9rem;
  position: absolute;
  top: 0rem;
  bottom: 0rem;
  left: 0rem;
  background: #eeeeee;
  z-index: 0;
  transition: left 0.5s;
  -moz-transition: left 0.5s;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
}
aside ul {
  width: 6.66666667rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}
aside ul li {
  width: 100%;
  height: 2.66666667rem;
  line-height: 2.66666667rem;
  color: #888888;
}
.signin {
  margin-top: 5px!important;
  margin-bottom: 5px!important;
  box-shadow: none;
}
section {
  border-top: #cccccc solid 1px;
  -webkit-overflow-scrolling: touch;
}
footer {
  width: 25rem;
  height: 4rem;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  border-top: #cccccc solid 1px;
  z-index: 10;
}
footer nav {
  flex: 1;
  height: 2rem;
  line-height: 2rem;
  border-right: #cccccc solid 1px;
}
footer nav:last-child {
  border-right: none;
}
.animation {
  transition: left 0.5s;
  -moz-transition: left 0.5s;
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  left: 0rem;
}
.addqppan {
  width: 23.8rem;
  height: 5rem;
  background: #dcdbdb;
  line-height: 5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.33333333rem;
}
dl {
  width: 23.8rem;
  margin-left: auto;
  margin-right: auto;
  height: 3.1rem;
  line-height: 3.1rem;
  border-bottom: #dddddd solid 1px;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}
dl dd {
  height: 3.1rem;
  line-height: 3.1rem;
  font-size: 1rem ;
}
dl dd:nth-of-type(1) {
  width: 10rem;
}
dl dd:nth-of-type(2) {
  width: 13.8rem;
  text-align: right;
  color: #14cc4c;
}
dl dd:nth-of-type(2) img {
  width: auto;
  height: 1.13333333rem;
  vertical-align: middle;
  display: inline-table;
  padding-left: 0.83333333rem;
}
dl dd:nth-of-type(2) span {
  vertical-align: middle;
  display: inline-table;
  padding: 0;
  margin: 0;
  text-align: right;
}
dl dd:nth-of-type(2) input {
  vertical-align: middle;
  display: inline-table;
  width: 150px;
  box-sizing: border-box;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  text-align: right;
  border: none;
  color: #14cc4c;
  font-size: 1rem ;
  background: url("../imgs/arrow_geuee.png") right center no-repeat;
  padding-right: 1.33333333rem;
  background-size: auto 90%;
}
.prdl {
  position: relative;
}
.prdl .switchbox {
  position: absolute;
  top: 0rem;
  right: 0.16666667rem;
}
.prdl .switchbox .switch {
  display: inline-block;
  height: 2rem;
  width: 3.66666667rem;
  vertical-align: middle;
  position: relative;
  margin-left: 10px;
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}
.prdl .switchbox .switch .bagcol {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 2rem;
  width: 3.66666667rem;
  border-radius: 2rem;
  background: #f8f8f8;
  border: #CCCCCC solid 1px;
}
.prdl .switchbox .switch .bgopen {
  background: #14cc4c!important;
}
.prdl .switchbox .switch .open {
  background: #FFFFFF;
  border: #CCCCCC solid 1px;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  top: 0rem;
  position: absolute;
}
.prdl .switchbox .switch .openright {
  right: 0% !important;
  transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
}
.prdl .switchbox .switch .openleft {
  left: 0% !important;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
}
article {
  width: 23.8rem;
  height: 18.26666667rem;
  margin-top: 2.66666667rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.66666667rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
  font-size: 1rem ;
  -webkit-appearance: none;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
article .times {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem ;
}
article .removebox {
  position: absolute;
  top: 1rem;
  right: 5.33333333rem;
  font-size: 1rem ;
  color: #14cc4c;
}
article .bjbox {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem ;
  color: #14cc4c;
}
article .ulbox {
  position: absolute;
  width: 22rem;
  top: 3.66666667rem;
  height: 11.06666667rem;
  left: 1rem;
  right: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article .ulbox .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch;
}
article .ulbox .container .wrapper {
  width: 6rem;
}
article .ulbox .container .wrapper .box {
  width: 6rem;
  height: 11.06666667rem;
  margin-left: auto;
  margin-right: auto;
}
article .ulbox .container .wrapper .box .imgbox {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  border: 1px solid #eeeeee;
  overflow: hidden;
  background: url("../imgs/0123.png") no-repeat center center;
  background-size: 110%;
  margin-left: auto;
  margin-right: auto;
}
article .ulbox .container .wrapper .box .imgbox img {
  width: 5rem;
  height: 5rem;
}
article .ulbox .container .wrapper .name {
  display: block;
  width: 6.66666667rem;
  height: 1.33333333rem;
  text-align: center;
  margin-top: 0.33333333rem;
  margin-bottom: 0.33333333rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
article .ulbox .container .wrapper .nuber {
  display: block;
  width: 6.66666667rem;
  height: 1.33333333rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
article .ulbox .container .boxtree {
  width: 7.33333333rem;
}
article .ulbox .container .boxtree .box {
  width: 7.33333333rem;
  margin-left: auto;
  margin-right: auto;
}
article .tishi {
  position: absolute;
  width: 21.76666667rem;
  height: 2rem;
  bottom: 1rem;
  left: 1rem;
  border-top: #e2e2e2 solid 1px;
  line-height: 2.66666667rem;
  font-size: 1rem ;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.article_bg {
  background: #eeeeee;
}
.article_clolr {
  color: #666666 !important;
}
.artimt {
  margin-top: 2.66666667rem;
}
.artimt .title {
  position: absolute;
  width: 6.73333333rem;
  height: 1.66666667rem;
  line-height: 1.66666667rem;
  background: #14cc4c;
  border-radius: 0.66666667rem 0.66666667rem 0 0;
  top: -1.66666667rem;
  left: 1.16666667rem;
  text-align: center;
  color: #fff;
}
.narticle {
  width: 100%;
  height: 18.26666667rem;
  line-height: 18.26666667rem;
  text-align: center;
}
.narticle .nunimg {
  width: 10.13333333rem;
  height: 11.13333333rem;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  display: inline-table;
}
.inputchange {
  width: 23.8rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: #cacaca solid 1px;
  display: flex;
  line-height: 3rem;
}
.inputchange .input_box {
  width: 23rem;
}
.inputchange .input_box input {
  width: 23.33333333rem;
  text-align: left;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  font-size: 1rem ;
  display: inline-block;
  color: #999999;
  border: none;
  background: none;
  box-sizing: border-box;
  padding-right: 2rem;
}
.inputchange .inmgs_box {
  width: 0.8rem;
  line-height: 3rem;
}
.inputchange .inmgs_box img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}
.botop {
  border-top: none!important;
}
.beizhus {
  width: 23.8rem;
  height: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  margin-top: 7.33333333rem;
}
.beizhus input {
  width: 15rem;
  height: 2.33333333rem;
  border-radius: 2.33333333rem;
  border: 1px solid #cfcfcf;
  margin-left: auto;
  margin-right: auto;
  background: #14cc4c;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.popushe {
  width: 16.66666667rem;
  height: 10rem;
  position: fixed;
  overflow: hidden;
  box-sizing: content-box;
  border: #e5e5e5  solid 1px;
  z-index: 6;
  border-radius: 0.66666667rem;
  top: 50%;
  left: 50%;
  margin-top: -5rem;
  margin-left: -8.33333333rem;
  background: #FFFFFF;
  -moz-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
}
.popushe .pr {
  width: 100%;
  height: 100%;
  position: relative;
}
.popushe .pr .titleti {
  position: absolute;
  top: 2.33333333rem;
  text-align: center;
  left: 0rem;
  width: 100%;
  color: #f0ad4e;
}
.popushe .pr .title {
  position: absolute;
  top: 3.33333333rem;
  text-align: center;
  left: 0rem;
  width: 100%;
  color: #14cc4c;
}
.popushe .pr .queding {
  width: 8.33333333rem;
  height: 2.33333333rem;
  position: absolute;
  top: 7.66666667rem;
  left: 0rem;
  line-height: 2.33333333rem;
  text-align: center;
  border-top: #e4e4e4 1px solid;
  border-right: #e4e4e4 1px solid;
}
.popushe .pr .quxiao {
  width: 8.33333333rem;
  height: 2.33333333rem;
  position: absolute;
  top: 7.66666667rem;
  left: 8.33333333rem;
  line-height: 2.33333333rem;
  text-align: center;
  border-top: #e4e4e4 1px solid;
}
.popushe .pr .quxiaoda {
  width: 16.66666667rem;
  left: 0rem;
}
