.vm {
  vertical-align: middle;
  display: inline-table;
}
.mto {
  margin-left: auto;
  margin-right: auto;
}
.co {
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
.ipt {
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
}
.es {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.selsty {
  appearance: none;
}
.selsty::-ms-expand {
  display: none;
}
.fexm {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.fest {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: flex-start;
  align-items: center ;
  align-content: flex-start;
}
.scl {
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.boxsh {
  box-shadow: 0px 6px 6px rgba(3, 143, 16, 0.49);
  background: #14cc4c;
  color: #fff;
  font-size: 1rem ;
}
.portrait {
  width: 23.8rem;
  margin-left: auto;
  margin-right: auto;
  height: 12.66666667rem;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.portrait .box {
  width: 7.33333333rem;
  height: 2.56666667rem;
  border-radius: 2.56666667rem;
  overflow: hidden;
  text-align: center;
}
.portrait .box img {
  width: 2.56666667rem;
  height: 2.56666667rem;
}
.portrait .boxper {
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 5.9rem;
  overflow: hidden;
  position: relative;
  background: url("../imgs/012.png") no-repeat center center;
  background-size: 100%;
}
.portrait .boxper img {
  width: 5.9rem;
  height: 5.9rem;
}
.portrait .boxper input {
  border: none;
  background: none;
  width: 5.9rem;
  height: 5.9rem;
  border-radius: 5.9rem;
  opacity: 0;
  position: absolute;
  top: 0rem;
  left: 0rem;
}
dl {
  width: 23.8rem;
  margin-left: auto;
  margin-right: auto;
  height: 3.1rem;
  line-height: 3.1rem;
  border-bottom: #dddddd solid 1px;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: space-around;
  align-items: center ;
  align-content: center ;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
dl dd {
  height: 3.1rem;
}
dl dd:nth-of-type(1) {
  width: 6.66666667rem;
}
dl dd:nth-of-type(2) {
  width: 17.13333333rem;
  text-align: right;
  color: #14cc4c;
  line-height: 3.1rem;
}
dl dd:nth-of-type(2) img {
  width: auto;
  height: 1.13333333rem;
  padding-left: 0.83333333rem;
  vertical-align: middle;
  display: inline-table;
}
dl dd:nth-of-type(2) input {
  width: 8.33333333rem;
  box-sizing: border-box;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  line-height: 3.1rem;
  text-align: right;
  border: none;
  color: #14cc4c;
  font-size: 1rem ;
  background: url("../imgs/arrow_geuee.png") right center no-repeat;
  padding-right: 1.33333333rem;
  background-size: auto 40%;
}
dl .imgbg {
  background: url("../imgs/arrow_geuee.png") right center no-repeat;
  padding-right: 1.33333333rem;
  background-size: auto 40%;
}
.signin {
  box-sizing: border-box;
  font-size: 1rem ;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-appearance: none;
  height: 2.4rem;
  border-radius: 2.26666667rem;
  width: 16rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.66666667rem;
  margin-bottom: 2rem;
  background: #a2a2a2;
  color: #fff;
  box-shadow: 0px 6px 6px rgba(97, 99, 97, 0.49);
  display: block;
  border: none;
}
.signinup {
  box-shadow: 0px 6px 6px rgba(3, 143, 16, 0.49);
  color: #fff;
  background: #00cc33;
}
.popup {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.editor_box {
  height: 100%;
  box-sizing: border-box;
  padding-top: 20%;
  position: relative;
  margin: auto;
  max-width: 680px;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.2);
}
.editor_box .editor {
  width: 20rem;
  text-align: center;
  border-radius: 0.66666667rem;
  position: absolute;
  top: 18%;
  left: 10%;
  background: #fff;
  padding-bottom: 4rem;
}
.editor_box .editor .title {
  font-size: 1.13333333rem ;
  text-align: center;
  line-height: 2rem;
  padding-top: 1rem;
}
.editor_box .editor .yiyoutel {
  margin-top: 0px;
  font-size: 1rem;
  text-align: left;
  line-height: 2rem;
  padding-left: 2rem;
}
.editor_box .editor .inputtel {
  position: relative;
  height: 3rem;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
}
.editor_box .editor .inputtel input {
  width: 100%;
  cursor: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  height: 2.13333333rem;
  border-radius: 2.13333333rem;
  font-size: 1rem ;
  border: #cccccc 1px solid;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
}
.editor_box .editor .inputtel .telnuml {
  width: 100%!important;
}
.editor_box .editor .inputtel .firet {
  width: 55%!important;
  float: left;
}
.editor_box .editor .inputtel .scent {
  width: 42%!important;
  float: right;
}
.editor_box .editor .inputtel .center {
  width: 42%!important;
  height: 2.46666667rem;
  text-align: center;
  background: #a2a2a2;
  color: #fff;
  box-shadow: 0px 6px 6px rgba(97, 99, 97, 0.49);
  display: block;
  border: none;
  position: absolute;
  left: 0;
  top: 2rem;
}
.editor_box .editor .inputtel .signinup {
  box-shadow: 0px 6px 6px rgba(3, 143, 16, 0.49);
  color: #fff;
  background: #00cc33;
}
.editor_box .editor .inputtel .centers {
  width: 42%!important;
  height: 2.46666667rem;
  text-align: center;
  box-shadow: 0px 1px 13px #cccccc;
  position: absolute;
  right: 0;
  top: 2rem;
}
#datetimeEnd {
  width: 8.33333333rem;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #14cc4c;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #14cc4c;
  opacity: 1;
}
#datetimeEnd:-ms-input-placeholder {
  color: #14cc4c;
  opacity: 1;
}
#datetimeEnd::-webkit-input-placeholder {
  color: #14cc4c;
  opacity: 1;
}
.disabled {
  background: #00cc33!important;
  color: #fff!important;
}
